<h1>Open Game</h1>
  <div class='spectators'>
    <h4>Game Spectators</h4>
    <ul class="spectator-list js-spectator-list">
      {{#spectators}}
        <li class='spectator-entry'>{{name}}</li>
      {{/spectators}}
    </ul>
  </div>
  <h3 id='gameTitle'>{{name}}</h3>
  <button class='btn btn-default js-return-to-lobby' href='#'>Return To Games Lobby</button>
  <div class='row'>
    <div class='col-md-6 black-info-box info-box'>Black
      <button class="btn btn-default js-play-as-black {{#if black}}btn-primary{{/if}} {{#if blackPlayer}}disabled{{/if}} {{#unless spectator}}disabled{{/unless}}" href="#">Play As Black</button>
      <div class='player-name'>Name: 
        <div class='js-black-player-name player-name-text'>Anonymous</div>
        <input type="text" class='input-player-name form-control js-black-player-name-input'>
        <button type='button' class='btn btn-default btn-sm js-edit-black-name'>
          <span class="glyphicon glyphicon-pencil"></span></div>
        </button>
        <button type='button' class='btn btn-default btn-sm submit-edit-black-name'>Submit</button>
      <div class='captured-stones'>
        Captured Stones: <div class='stone-count js-black-stone-count'>{{blackScore}}</div>
      </div>
    </div>
    <div class='col-md-6 white-info-box info-box'>White
      <button class="btn btn-default js-play-as-white {{#if white}}btn-primary{{/if}} {{#if whitePlayer}}disabled{{/if}} {{#unless spectator}}disabled{{/unless}}" href="#">Play As White</button>
      <div class='player-name'>Name: 
        <div class='js-white-player-name player-name-text'>Anonymous</div>
        <input type="text" class='input-player-name form-control js-white-player-name-input'>
        <button type='button' class='btn btn-default btn-sm js-edit-white-name'>
          <span class="glyphicon glyphicon-pencil"></span></div>
        </button>
        <button type='button' class='btn btn-default btn-sm submit-edit-white-name'>Submit</button>
      <div class='captured-stones'>
        Captured Stones: <div class='stone-count js-white-stone-count'>{{whiteScore}}</div>
      </div>
    </div>
  </div>
  <h4 class='move-display'>Move: {{totalMoves}}, {{currentTurnColor}} To Play</h4>
  
  <div id='board' class='js-board'></div>
